@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
    box-sizing: border-box;
    font-family: "Quicksand";
    font-weight: 100;

    margin: 0;
    --darkblue: #243642;
    --blue: #387478;
    --green: #629584;
    --light: #E2F1E7;

    --footer-height: 50px;
}

.header {
    /*flex box alignment*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /*border & padding*/
    border-radius: 2px;
    background-color: #588b76;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
}

.icon {
    /* padding-left: 20px;
    padding-right: 20px; */
    padding: 0 20px;
    cursor: pointer;
}

.footer {
    position: fixed;
    margin-top: auto;
    bottom: 10px;
    right: 10px;

    /* display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-around; */
}

.newJournal {
    text-align: center;
    line-height: 40px;
    padding: 0 20px;
    color: var(--darkblue);
    background-color: var(--light);
    width: 15px;
    height: 50px;
    border-radius: 100% 100% 100% 100%;

    margin-left: 0;
    margin-right: 10px;

    cursor: pointer;
    right: 10px;
}

.journal {
    text-decoration: none;
    color: var(--darkblue);
    background-color: white;
    border-radius: 20px;
    width: 24%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;

    cursor: pointer;
}

.journalTitle,
.sample {
    margin-left: 1.5%;
}

.date {
    color: var(--green);
    font-size: smaller;
}

.form {
    position: absolute;
    top: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: var(--green);
    border-radius: 20px;
    width: 80%;
    margin: 10%;
    height: 600px;

    z-index: 20;
    box-shadow: 100px var(--darkblue);
}

.formTitle,
.formInputBox,
.formSubmit {
    background-color: var(--darkblue);
}

.formTitle,
.formInputBox {
    margin: 0 10%;
    padding-top: 0;
    margin-top: 0;
}

.formStrTitle {
    position: absolute;
    text-align: center;
    right: 50%;
    top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.formInputBox {
    height: 50%;
}

.formSubmit {
    height: 5%;
    width: 10%;
    align-self: flex-end;
    margin-right: 4%;
    cursor: pointer;
}

.formStr {
    margin: 0;
    text-align: center;
}

.formInputHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.formBackIcon {
    margin-left: 2%;
    margin-right: 2%;
    padding: auto;
    width: auto;
    height: auto;
    cursor: pointer;
}